@import './mixin.scss';

.container {
  width: 1226px;
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
}

a {
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
}
